.add-employee-fieldset {
    border: none;
    padding: 0;
}

.add-employee-fieldset legend {
    font-weight: 600;
    margin-bottom: 16px;
}

.add-employee-fieldset input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

    margin-bottom: 8px;
}

.add-employee-fieldset input, .add-employee-fieldset button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}